body
{
    text-align: left;
<<<<<<< HEAD
    font-family: 'Courier New', Courier, monospace;
    background-color: blue;
=======
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
>>>>>>> cabecera
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 0;
}


#container h1{
    font-size: 20px;
}

#cabecera{
    background-color: blue;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    
}

#cabecera #tagline
{
    padding:  0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid black;
    margin: 0 auto;
<<<<<<< HEAD
}

#container h1{
    font-size: 20px;
}

