body
{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    font-size: 16px;
    color: #ff12dd;
}


#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid white;
    margin: 0 auto;
}

#container h1{
    font-size: 20px;
}
